<em>Results from Yelp!</em>
<hr/>
<!-- <h2>Enter ZIP code where you're gyro is needed</h2> -->

<h3>Here are gyros for 55104:</h3>
<div class="container">
  <% locs.map((store) => {%>
    <div>
      <p><a href="<%= store.url %>"><%= store.name %></a></p>
      <p><%= store.location.address1 %><h5>Closed? <%= store.is_closed %></h5></p>
    </div>
  <%})%>
</div>