<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>I need a gyro!</title>
  <meta name="description" content="Gyros for you!">
  <meta name="keywords" content="gyro,gyros">
  <link rel="shortcut icon" type="image/x-icon" href="/images/gyro_2.png" />
  <link rel="stylesheet" href="/css/gyro.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <script type="module" src="/js/script.js"></script>
  <!-- h1 is hidden - it is only here for Bing compliance -->
  <h1 class="hidden">This site helps you find the closest gyros</h1>
  <div class="container-fluid">
    <div id="results">
      <canvas id="gyroCanvas" resize></canvas>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.min.js"></script>
  <script type="text/paperscript" canvas="gyroCanvas">
    var raster = new Raster({ source: "/images/open_gyro_outline_500.jpeg", position: view.center })
    raster.scale(0.5)
    function onFrame(event) {
      raster.rotate(2)
    }
  </script>
</body>
</html>
