<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body onload="getLocation()">
  <em>Results from Yelp!</em>
  <hr/>

  <h3>Here are gyros for you:</h3>
  <div id="results">
    Loading...
  </div>
</body>
</html>