<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
  <script>
    function formatResults(results){
      const json = JSON.parse(results)
      console.log(json.locs)
      var str = ''
      json.locs.map((loc) => {
        str += '<div class="record"><a href="'+ loc.url + '">' + loc.name + '</a> ' + loc.location.address1 + '</div>'
      })

      document.querySelector('.results').innerHTML = str
    }

    var getLocation = function(){
      navigator.geolocation.getCurrentPosition(function(location) {
        const xhr = new XMLHttpRequest()
        xhr.open("GET", window.location + 'recs?lat=' + location.coords.latitude + '&lng=' + location.coords.longitude)

        xhr.onload = function () {
          formatResults(xhr.response)
        };

        const rr = xhr.send()
        return location;
      })
    }

    getLocation()

  </script>
  <em>Results from Yelp!</em>
  <hr/>
  <!-- <h2>Enter ZIP code where you're gyro is needed</h2> -->

  <h3>Here are gyros for you:</h3>
  <div class="results">
    Loading...
  </div>
</body>
</html>