<h1>Privacy Policy</h1>
For the purposes of this policy the term "address" is defined as your street address (e.g., 1600 Grand Ave, Saint Paul, MN 55105) and/or your geographic coordinates (e.g., 44.938128, -93.169022). For the purposes of this policy "this gyro service" represents the domains ineedagyro.com and www.ineedagyro.com, their subdomains and any services (e.g. the Amazon Echo and/or Amazon Alexa applications) that access those domains and subdomains.

This privacy policy discloses the privacy practices for this gyro service. This privacy policy applies solely to information collected by this gyro service.

<h2>Information Collection, Use, and Sharing</h2>
We are the sole owners of the information collected by this gyro service. We only have access to/collect information that you voluntarily give us via direct contact from you when you use this gyro service.

We use your street address to find the gyros closest to you, but do not store your street address or geographic coordinates after we fulfill each request. We do store -- and may sell or rent -- the zip code associated with your request to anyone (hopefully this leads to more delicious gyros near you) but we do not store other information to associate you with your request.
